/*Universal style*/
html {
	height: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	height: 100%;
	margin: 0px;
	padding: 0px
}

#root {
	position: relative;
	max-height: 100%;
	height: 100%;
}

.main {
	position: relative;
	max-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #333333;
	
}

.VictoryContainer svg {
	height: 100% !important;
	overflow: visible !important;
}


.react-transform-component, .react-transform-element{
	max-height: 100%;
	width: auto !important;
	height: 100% !important;
	display: block !important;
	flex: 7;
	/* overflow: visible !important; */
	/* z-index: 20 !important; */

}

.__react_component_tooltip {
	padding: 2px !important;
}
